@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --lightBackground: #f9f9f9;
}

html {
    margin: 0;
    font-size: 62.5%;
    font-family: Inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.2rem;
}

.bannerEmoji {
    font-size: 5rem;
    margin: 1rem 0;
}

.breedsList {
    display: flex;
    gap: .2rem;
    width: 48rem;
    flex-direction: column;
    font-size: 1.6rem;
}

.searchField {
    border-radius: 1rem;
    border: 1px solid transparent;
    transition: all .3s ease;
    background-color: var(--lightBackground);
    margin-bottom: 1.6rem;
    display: flex;
    gap: 1rem;
    padding: 1rem 1.6rem;
    align-items: center;
}

.searchField:focus-within {
    border-color: #ddd;
}

.searchField > input {
    padding: .6rem;
    background-color: transparent;
    border: none;
    width: 100%;
}

.searchField > input:focus {
    border: none;
    outline: none;
}

.listItemWrapper {
    background-color: var(--lightBackground);
    border-radius: 1rem;
    padding: .4rem;
}

.listSubItemsWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.divider {
    border-bottom: 1px dotted #ddd;
    margin: .4rem;
}

.listItem {
    border: none;
    background-color: transparent;
    padding: 1.6rem;
    text-align: left;
    cursor: pointer;
    width: 100%;
    color: #777;
    border-radius: .5rem;
    transition: all .3s ease;
}

.listItem:hover {
    color: #333;
    background-color: white;
    box-shadow: 0 .2rem .8rem rgba(0, 0, 0, .15);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, .15);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalBody {
    width: 48rem;
    border-radius: .5rem;
    background-color: white;
    box-shadow: 0 .2rem 1.6rem rgba(0, 0, 0, .15);
}

.modalBodyHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding: .8rem;
    border-bottom: 1px solid #eee;
}

.modalBodyHeader > button {
    width: 2.4rem;
    height: 2.4rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #dd0000;
    padding: 0;
    margin: 0;
}

.modalBodyContent {
    padding: .8rem;
}

.currentImage > img,
.thumbnail > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.currentImage {
    overflow: hidden;
    height: 30vh;
    margin-bottom: 1rem;
}

.thumbnail {
    opacity: .5;
    max-height: 10rem;
    cursor: pointer;
    transition: all .3s ease;
    position: relative;
}

.thumbnail::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 4px solid transparent;
    transition: all .3s ease;
    content: '';
}

.thumbnail.current {
    z-index: 100;
}

.thumbnail.current::after {
    border-color: white;
}

.thumbnail:hover {
    z-index: 101;
}

.thumbnail.current,
.thumbnail:hover {
    opacity: 1;
    transform: scale(1.1);
    box-shadow: 0 .4rem 1.6rem rgba(0, 0, 0, .25);
}

.thumbnails {
    display: grid;
    gap: .2rem;
    grid-template-columns: repeat(4, 1fr);
}